<!DOCTYPE html>
<html ng-app="tatcTemp" ng-controller="contactController">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Tandoor at the Chambers</title>
    <meta charset="UTF-8">
    <!-- load Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
      <link rel='stylesheet' href='mystyle.css'/>
      <link href="https://fonts.googleapis.com/css?family=Open+Sans|Unica+One" rel="stylesheet">
      <link href="https://fonts.googleapis.com/css?family=Lato:700" rel="stylesheet">

      <!-- Load jQuery -->
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
      <script src="http://malsup.github.com/jquery.form.js"></script>

    <script src="mailsend.js"></script>
      <!-- load angular -->
      <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular.min.js"></script>
      <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular-messages.min.js"></script>
      <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular-route.min.js"></script>
      <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular-animate.js"></script>

      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

      <script src="app.js"></script>

  </head>
  <!-- navbar -->
  <body>

    <header>

    </header>

    <div id="background-carousel">
        <div id="myCarousel" class="carousel slide" data-ride="carousel">
          <div class="carousel-inner">
            <div class="item active" style="background-image:url(images/image1.jpeg)"></div>
            <div class="item" style="background-image:url(images/image2.jpeg)"></div>
            <div class="item" style="background-image:url(images/image3.jpeg)"></div>
          </div>
        </div>
    </div>

    <div id="content-wrapper">
    <!-- PAGE CONTENT -->
    <div class='home-page'>
      <center><h2>COMING SOON</h2></center>
      <center><h1><span id="lettergap">TANDOOR</span> <br><span id="atthe">at the</span> CHAMBERS</h1></center>
      <center><a><button class="btn btn-lg" data-toggle="modal" data-target="#visionModal">Our Vision</button>
        <center><button class="btn btn-lg" data-toggle="modal" data-target="#contactModal">Contact Us</button></center>
        <center><button class="btn btn-lg" data-toggle="modal" data-target="#findusModal">Find Us</button></a></center>
    </div>
    <!-- PAGE CONTENT -->
    </div>

    <!-- FOOTER -->
    <footer class="container-fluid text-center myfooter">
      Designed by <a href="http://virunee.co.uk.s3-website.eu-west-2.amazonaws.com/" target="_blank">Virunee</a>
    </footer>

    <!-- /FOOTER -->

    <script>
    $('#myCarousel').carousel({
       pause: 'none'
    })
    </script>

    <!-- MODALS -->
      <!-- Vision Modal -->
    <div id="visionModal" class="modal fade" role="dialog">
  <div class="modal-dialog modal-lg">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">OUR VISION</h4>
      </div>
      <div class="modal-body">
        <p>Some text in the modal.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default modal-btn" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>
    <!-- /Vision modal -->

    <!-- Contact modal -->
    <div id="contactModal" class="modal fade" role="dialog">
  <div class="modal-dialog modal-lg">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">CONTACT US</h4>
      </div>
      <div class="modal-body">
    <!-- CONTACT FORM -->
<form method="POST" name="contactform" action="mailsend.php" id="myForm">
    <div class="form-group">
        <label for='name'>Name:</label>
        <input type="text" class="form-control" name="name" id="name" ng-model="nameInput" required>
      
    </div>
    <div class="form-group">
        <label for='email'>Email Address:</label>
        <input type="email" name="email" id="email" class="form-control" ng-model="emailInput" required>

    </div>
    <div class="form-group">
        <label for='message'>Message:</label>
        <textarea name="message" id="message" class="form-control" rows="5" ng-model="messageInput" required></textarea>

    </div>
    <button type="submit" id="submit_btn" class="btn btn-primary" value="Submit">Submit</button>
</form>
</div>
    <!-- /CONTACT FORM -->


      </div>


    </div>

  </div>

<!-- /Contact modal -->

  </body>
</html>
